@media (max-width: 768px) {
    .sobreNosotros {
        img {
            width: 90vw;
        }

        p {
            width: 90vw;
        }
    }

    .seccion {
        margin: 10px;
        padding: 10px;
        border: solid 1px #8d8f84;
        border-radius: 4px;
        font-size: 1rem;
    }

    #contacto {
        flex-direction: column;

        form {
            width: 75vw;
        }
    }

    .campo {
        display: block;
        width: 100%;
        margin: 10px auto;
    }

    .consultaPrecio {
        height: 150px;
        width: 60vw;
    }

    .precios {
        font-size: 0.875rem;
        padding: 8px 20px;
    }

    .imgPanaderia {
        img {
            width: 50vw;
        }
    }

    #mapa {
        margin: auto;
        width: 60vw;
        height: 45vh;
      }

    footer {

        h3 {
            font-size: 0.7rem;
        }

        nav {
            ul {
                margin: 0;
                li {
                    display: block;
                    a {
                        font-size: 0.5rem;
                    }
                }
            }
        }
    }
}