@media (max-width: 768px) {
    .gridServicios {
        display: grid;
        grid-template-areas: 
        "header"
        "servicios"
        "serviciosB"
        "serviciosA"
        "serviciosD"
        "serviciosC"
        "footer"
    }

    .seccion {
        margin: 10px;
        padding: 10px;
        border: solid 1px #8d8f84;
        border-radius: 4px;
        font-size: 1rem;
    }
    
    #contacto {
        flex-direction: column;

        form {
            width: 75vw;
        }
    }

    .campo {
        display: block;
        width: 100%;
        margin: 10px auto;
    }


    .consultaPrecio {
        height: 150px;
        width: 60vw;
    }

    .precios {
        font-size: 0.875rem;
        padding: 8px 20px;
    }
}